# Node.js specific
node_modules/
npm-debug.log
yarn-error.log
.env

# Optional OS-specific files
.DS_Store            # macOS
Thumbs.db            # Windows

# Logs
logs/
*.log

# Dependency directories
/node_modules

# Build directories
/dist
/build

# IDE settings
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
